/* The Modal (background) */
.buy-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    right: 0;
    top: 0;
    width: 25%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 3px;
}

/* Modal Content */
.buy-modal-content {
    background-color: #FFB84C;
    margin: auto;
    padding: 15px;
    width: 80%;
}